{
  "openapi": "3.1.0",
  "info": {
    "title": "JSON Prism service API",
    "version": "1.0.0",
    "description": "Optional anonymous sharing and browser donation checkout. JSON tools run in the browser; there is no hosted JSON processing API."
  },
  "servers": [
    {
      "url": "https://s.jsonprism.com"
    }
  ],
  "externalDocs": {
    "url": "https://jsonprism.com/api.md"
  },
  "security": [],
  "paths": {
    "/s": {
      "post": {
        "operationId": "createShortLink",
        "summary": "Store a shared payload for 30 days",
        "description": "Only invoke for user-requested sharing. Payload must use the matching JSON Prism sharing encoding, not raw JSON. Anyone with the returned URL can access it. Maximum payload: 200000 UTF-8 bytes; maximum request body: 201024 bytes. Rate limit: 10 requests per minute per IP at the service edge. Origin is an abuse check, not authentication.",
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "const": "https://jsonprism.com"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "payload"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "json",
                      "bundle",
                      "curl",
                      "curlcmd"
                    ]
                  },
                  "payload": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200000,
                    "pattern": "^[A-Za-z0-9~+\\-_$=/]+$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "slug",
                    "url",
                    "expiresInSeconds"
                  ],
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expiresInSeconds": {
                      "type": "integer",
                      "const": 2592000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON, body, kind or payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Origin missing or mismatched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Body or payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "string",
                  "const": "60"
                }
              }
            }
          },
          "503": {
            "description": "Storage unavailable or slug attempts exhausted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{slug}": {
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9]{1,24}$"
          }
        }
      ],
      "get": {
        "operationId": "openShortLink",
        "summary": "Return an HTML browser redirect to the shared document",
        "responses": {
          "200": {
            "description": "HTML with script and meta refresh redirect, not an HTTP redirect",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Expired or missing link",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "checkShortLink",
        "responses": {
          "200": {
            "description": "Link exists; no body"
          },
          "404": {
            "description": "Expired or missing link"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Liveness only; does not check dependencies",
        "responses": {
          "200": {
            "description": "Alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "operationId": "checkHealth",
        "responses": {
          "200": {
            "description": "Alive; no body"
          }
        }
      }
    },
    "/donate": {
      "get": {
        "operationId": "createDonationCheckout",
        "summary": "Create a donation checkout session",
        "description": "Has side effects. Only invoke for a user-requested donation. Never call during passive discovery.",
        "responses": {
          "302": {
            "description": "Redirect to payment provider",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          },
          "502": {
            "description": "Payment provider failure"
          },
          "503": {
            "description": "Not configured"
          }
        }
      },
      "head": {
        "operationId": "checkDonationRoute",
        "description": "Does not create a checkout or check provider configuration.",
        "responses": {
          "200": {
            "description": "Route exists; no body"
          }
        }
      }
    }
  }
}
